{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Nos recettes</h1>
    <div class="container">
        <div class="row">
            {% for products in products %}
            <div class="col-4">
                    <div class="card-group">
                        <div class="card mb-3">
                            <img class="card-img-top"
                                 src="https://via.placeholder.com/100C/O https://placeholder.com/" alt="">
                            <div class="card-body">
                                <p class="card-text">{{ products.Plat}}</p>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
